.mainTitleWrap {
  background: #ff0000 !important;
  position: fixed !important;
  top: 10px !important;
  left: 10px !important;
  padding: 20px !important;
  font-size: 24px !important;
  width: 200px !important;
  text-align: center;
  color: #ffffff !important;
  text-transform: uppercase;
  z-index: 9999 !important;
  border: 5px solid #00ff00 !important;
}

.mainTitleWrap .mainTitle {
  font-size: 12px;
  text-transform: uppercase;
}

.topLine {
    background: rgb(0, 149, 100);
    background: -moz-linear-gradient(
      90deg,
      rgba(0, 149, 100, 0) 0%,
      rgba(8, 234, 160, 1) 50%,
      rgba(0, 149, 100, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(0, 149, 100, 0) 0%,
      rgba(8, 234, 160, 1) 50%,
      rgba(0, 149, 100, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(0, 149, 100, 0) 0%,
      rgba(8, 234, 160, 1) 50%,
      rgba(0, 149, 100, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }